<ul class="uk-iconnav uk-margin-left">
    <a href="/signup" class="uk-card-hover uk-padding-small">
        <i class="fas fa-user-plus fa-3x" style="color:rgb(50, 150, 50)" title="Sign up" pos="bottom" uk-tooltip></i>
    </a>
    <a href="/login" class="uk-card-hover uk-padding-small">
        <i class="fas fa-user-lock fa-3x" style="color:rgb(50, 50, 255)" title="Log in" pos="bottom" uk-tooltip></i>
    </a>
</ul>